* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    color: #222222;
}

/*bc-title-bar*/
.bc-title-bar{

}

.bc-title-bar-title{
    padding-left: 20px;
    min-height: 50px;
}

.bc-title-bar-content{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 50px;
    padding-left: 10px;
}

.bc-title-bar-content > div{
    margin: 10px;
}
/*bc-panel*/
.bc-panel {
    border: 1px solid;
    -webkit-box-shadow: 3px 3px 3px darkgrey;
    -moz-box-shadow: 3px 3px 3px darkgrey;
    box-shadow: 3px 3px 3px darkgrey;
    margin: 15px;
}

.bc-panel.left-image{
    /*flex*/
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.header.big-header {
    font-size: 20px;
}

/*bc footer*/
.bc-footer {
    clear: both;
    /*flex*/
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    border-top: 1px solid;
}

.bc-footer .left {
    padding: 10px;
}

.bc-footer .right {
    padding: 10px;
}

/*bc left image*/
.bc-left-image{
}

/*bc right container*/
bc-right-container{
    width: 100%;
}

/*bc content*/
.bc-content {
    padding: 20px 10px;
}

/*bc title notes*/

.bc-title-notes{
    margin: 0 15px;
}

/*bc dialog*/
.bc-dialog{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    z-index: 9999;
}

.bc-dialog-content{
    background: white;
    margin: 20px;
    padding: 20px;
}

.bc-dialog .close{
    float: right;
    margin: 20px;
    font-size: 25px;
}

/*shared - header*/
.header{
    margin: 16px;
}

p {
    margin: 16px;
}

/*shared color*/
.primitive{
    color: #F4A631;
}

.bright{
    color: #E21860;
}

.background-bright{
    background-color: #E21860;
}

.clean{
    color: white;
}

.background-clean{
    background-color: white;
}

.background-steady{
    background-color: #DADADA;
}


/*shared cursor actions*/
.pointer{
    cursor: pointer;
}

/*stars*/

/****** Style Star Rating Widget *****/

.bc-rating {
    border: none;
    float: left;
}

.bc-rating > input { display: none; }
.bc-rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    content: "\2605";
}

/*.bc-rating > .half:before {*/
    /*content: "\2605";*/
    /*position: absolute;*/
/*}*/

.bc-rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.bc-rating > input:checked ~ label, /* show gold star when clicked */
.bc-rating:not(:checked) > label:hover, /* hover current star */
.bc-rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.bc-rating > input:checked + label:hover, /* hover current star when changing rating */
.bc-rating > input:checked ~ label:hover,
.bc-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.bc-rating > input:checked ~ label:hover ~ label { color: #FFED85;  }