* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    color: #222222;
}
/*bc-panel*/
.bc-panel {
    border: 1px solid;
    -webkit-box-shadow: 3px 3px 3px darkgrey;
    -moz-box-shadow: 3px 3px 3px darkgrey;
    box-shadow: 3px 3px 3px darkgrey;
    margin: 15px;
}

.bc-panel.left-image{
    /*flex*/
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.header.big-header {
    font-size: 20px;
}

/*bc footer*/
.bc-footer {
    clear: both;
    /*flex*/
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    border-top: 1px solid;
}

.bc-footer .left {
    padding: 10px;
}

.bc-footer .right {
    padding: 10px;
}

/*bc left image*/
.bc-left-image{
}

/*bc right container*/
bc-right-container{
    width: 100%;
}

/*bc content*/
.bc-content {
    padding: 20px 10px;
}

/*bc title notes*/

.bc-title-notes{
    margin: 0 15px;
}

/*bc dialog*/
.bc-dialog{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width:100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.5;
}

/*shared - header*/
.header{
    margin: 16px;
}

p {
    margin: 16px;
}

/*shared color*/
.primitive{
    color: #F4A631;
}

.bright{
    color: deeppink;
}

/*shared cursor actions*/
.pointer{
    cursor: pointer;
}